html{
  text-align:center;
}
.jumbotron{
  background-color:pink;
  color:white;
  text-align:center;
  font-family:cambria;
}
.about-me{
  text-align:center;

}
footer{
  background-color:black;
  color:white;
  text-align:center;
  padding:2%;
}
.panel panel-body{

}
