.container-fluid {
  text-align: center;
  background-image: url("../images/spiration dark.png") !important;
  color: white;
  font-family: cambria;
}

.jumbotron {
  background-color: #DC143C;
  color: white;
  text-align: center;
  font-family: cambria;

}

.about-me {
  text-align: center;
  margin: 30px;
}

footer {
  background-color: #DC143C;
  color: white;
  text-align: center;
  padding: 2px;
}

.unorded-list li {
  display: inline;
  list-style: none;
}

.icons {
  width: 2%;
  height: 2%;
  background: #DC143C;
  display: inline-block;
}

.panel-heading {
  background-color: #DC143C !important;
}

.responsive {
  max-width: 100%;
  max-height: 100%;
}

.panel-default {
  width: 100%;
  height: 100%;

}

a:link {
  color: white !important;
}

a:hover {
  color: black !important;
  border: 0px 0px 0px 0px !important;
}

.me {
  width: 10%;
  height: 10%;
  border-radius: 50%;
}

.navbar-inverse {
  color: #DC143C !important;
}

h5 {
  color: #DC143C;
}

.panel-body p {
  color: black;
}

.panel-heading {
  color: #DC143C;
}

a {
  color: white;
}

p {
  font-family: cambria;
  font-size: 16px;
}
